<html>
<head>
  <title>Gothons From Planet Percal #25</title>

  <link rel="icon" type="image/x-icon" href="//<%= env['HTTP_HOST'] %>/favicon.ico" />
  <link rel="icon" type="image/png" href="//<%= env['HTTP_HOST'] %>/assets/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="//<%= env['HTTP_HOST'] %>/assets/favicon-16x16.png" sizes="16x16" />
</head>
<body>

<%= yield %>

</body>
</html>